
</div>
<!-- <div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Daivik Shetty</p>
  </div>
</div> -->

<footer>
  <br>
  Made with ❤️ by Daivik Shetty
  <br>
</footer>

</body>
</html>
